*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
body{
    background-image: url("Background.jpg");
    background-size: cover;
}
.heading{
    text-align: center;
    padding: 2% 0 2% 0;
    margin: 4% 25% 0 25%;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: rgb(182, 224, 224);
    border-radius: 2rem;
}
.dataHeading{
    text-align: center;
    padding: 3% 0% 3% 0%;
}
.resultWin{
    text-align: center;
    color: rgb(87, 172, 8);
}
.resultLoose{
    text-align: center;
    color: rgb(209, 48, 37);
}
.greet{
    text-align: center;
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    color: rgb(24, 182, 3);
    padding-top: 5%;
    padding-bottom: 5%;
}
.greetDiv{
    display: flex;
    justify-content: center;
}
.btn{
    width: auto;
    height: 5rem;
    margin-top: 4rem;
    padding: 10px 10px ;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20%;
    color: aliceblue;
    background-color: #9900ff;
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btn:active{
    background-color: #a748e6;
    transform: translateY(1px);
}
.btnDiv{
    display: flex;
    justify-content: center;
}
span{
    display: flex;
    justify-content: center;
}
img{
    width: 10rem;
    height: 10rem;
    margin: 2rem 1rem 2rem 1rem;
}